##### Core scientific packages
jupyter==1.0.0
numpy
pandas
seaborn

# Easy http requests
requests==2.22.0

##### Machine Learning packages
scikit-learn

nltk
urlextract

### Twitter API
tweepy

### Preprocessing
preprocessor

Flask
gunicorn==19.9.0
wtforms
