##### Core scientific packages
jupyter==1.0.0
matplotlib
numpy
pandas
scipy
seaborn


# Easy http requests
requests==2.22.0

##### Machine Learning packages
scikit-learn

xgboost

nltk
urlextract

##### Deep Learning packages

tensorflow

### Twitter API
tweepy
twython


### Preprocessing
preprocessor

Flask
flask_bootstrap
gunicorn==19.9.0
wtforms
