##### Core scientific packages
jupyter
matplotlib
numpy
pandas
scipy

# Efficient jobs (caching, parallelism, persistence)
joblib==0.14.0

# Easy http requests
requests==2.22.0

##### Machine Learning packages
scikit-learn==0.22

xgboost==0.90

nltk==3.4.5
urlextract==0.13.0

# Optional: tqdm displays nice progress bars, ipywidgets for tqdm's notebook support
tqdm==4.40.0
ipywidgets==7.5.1

##### Deep Learning packages

tensorflow==1.15.2 

tensorboard==1.15.0
tensorflow-estimator==1.15.1
