<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="icon"
        href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🎯</text></svg>">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>
        Tweet2Emoji
    </title>
</head>

<body>
    {% from "_formhelpers.html" import render_field %}

    <div class="align-self-center">
        <div>

            <div class="d-flex justify-content-center">
                <h1 class='text-light'> 🔥 Tweet2Emoji 🔥 </h1>
            </div>

            <div class="d-flex justify-content-center">
                <p class='row text-light'>Hello! This is a emoji predictor for your tweets! Write down a tweet and we'll
                    pair it up with an appropriate emoji.</p>
            </div>

            <div class="column d-flex justify-content-center">
                <p class="row text-light">Using machine learning models and tweets, we created a
                    classifier that can map your tweets to an appropriate emoji.</p>
            </div>

            <div class="text-light d-flex justify-content-center">
                <p>Give it a try and see what funky emoji's you can use!</p>
            </div>

            <form action="/results" method="post">
                <div class="input-group rounded-circle input-group-lg">
                    <div class="container ">
                        <dl>
                            {{ render_field(form.input, class="form-control", ) }}
                        </dl>
                    </div>
                </div>
                <div class="container">
                    <input class="btn btn-dark btn-lg btn-block" type="submit" value="Submit" , name="submit_btn">
                </div>
            </form>
        </div>

    </div>


</body>

</html>